### MacOS ###
.DS_Store

### Python Cache ###
__pycache__/
*.pyc
*/*.pyc

### Game Files ###
/data
*.hpyhex.json
*/*.hpyhex.json
*.game.json
*/*.game.json
*.hpyhex
*/*.hpyhex

### Game Logs ###
**/logs.json
logs.json
templogs.json
*.hpyhexua.json
users/

### Evironment ###
/custom-jre/
*.mf

### Intellij ###
.idea/
*.iml

### Java ###
/java
/Lib
/out
*.class
*/*.class